body{
    margin: 0px;
    font-family: Raleway;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 8px; /* Cambia el ancho de la barra de desplazamiento en navegadores webkit (como Chrome y Safari) */
    scrollbar-color: #e2e2e2;
}

::-webkit-scrollbar-thumb {
    background: #aaaaaa; /* Cambia el color del pulgar de la barra de desplazamiento en navegadores webkit */
    border-radius: 6px; /* Cambia el radio de las esquinas del pulgar en navegadores webkit */
}

::-webkit-scrollbar-track{
    background-color: #e2e2e2;
}

.my-carousel-progress {
    background: #e2e2e2;
}
  
.my-carousel-progress-bar {
    background: #0f0f0f;
    height: 5px;
    transition: width 400ms ease;
    width: 0;
} 