::-webkit-scrollbar {
    width: 8px;
    scrollbar-color: #e2e2e2;
}

#Container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/************************************************************************************************************/
/*Estilos para el navbar*/

#Menu{
    width: 100%;
}

#Menu-top{
    width: 100%;
    height: 75px;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Logo{
    width: 250px;
    height: 65%;
    background-image: url("../../img/W2SBlack.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
}

.list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    white-space: nowrap;
    padding-right: 40px;
}
.link{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.link::before,
.link::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.25s;
}

.link::before{
    top: -3px;
    transform-origin: left;
}

.link::after{
    bottom: -3px;
    transform-origin: right;
}

.link:hover::before,
.link:hover::after,
.active::before,
.active::after{
    transform: scaleX(1);
}

.menu-toggle{
    display: none;
}

.second_list{
    display: none;
}

/************************************************************************************************************/
/*Estilos para el contenido*/

#page-Container{
    width: 100%;
    background-color: #e2e2e2;
    margin-top: 75px;
}

#title-Container{
    font-family: Urbanist;
    font-size: 4rem;
    font-weight: bolder;
    padding-left: 20px;
    color: #0d1821 ;
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

#toggle{
    margin: 10px 0 10px 20px;
}

#button-box {
	width: 180px;
    height: 35px;
	position: relative;
	border-radius: 30px;
	background: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.toggle-btn {
	padding: 10px 20px;
    font-family: Raleway;
    font-size: 18px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
}

#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 55%;
	height: 100%;
	background: #1c1c1c;
	border-radius: 30px;
	transition: .5s;
	align-self: flex-start;
}

.btn-Content{
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
	justify-content: space-evenly;
}

#btn-Left{
	color: #fff;
}

#btn-Right{
	color: #000;
}

#search-Label{
    margin: 20px 0 7px 20px;
}

#search-Container{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    /*background-color: rgba(0, 255, 0, 0.3);*/
}

.searchBox{
    width: 20%;
    display: flex;
}

.box{
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2.5px 20px;
    margin: 0 0 0 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box:hover input{
    width: 210px;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box a .fas{
    color: #1c1c1c;
    font-size: 18px;
}

#filters-Container{
    display: flex;
}

.filter{
    min-width: 25px;
    height: 35px;
    background-color: 1c1c1c;
    color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5px;
    padding: 0 15px;
}

.line{
    width: 100%;
    height: 3px;
    background-color: #0d1821;
    margin: 20px 0px 20px 0px;
}

/*************************************************************************************************************/
/*Estilos para los poster*/

#productions-Container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

.production{
    width: 22%;
    height: 10%;
    border-radius: 100px;
    margin-bottom: 20px;
}

.posterContainer{
    width: 100%;
    height: 100%;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
}

.poster{
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posterImage{
    width: 100%;
    object-fit: cover;
}

.posterInfo{
    width: 100%;
    height: 35%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posterTitle{
    width: 75%;
    height: 35%;
    margin-top: 5%;
    color: #fff;
    font-size: 1.7vw;
    font-family: Bebas Neue;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}

.posterCali{
    width: 75%;
    height: 20%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

i{
    font-size: 1.7vw;
    color: #e4d804;
}

.calificacion{
    font-family: Bebas Neue;
    font-size: 1.7vw;
    padding-left: 5%;
    color: #fff;
}